.movie-page {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}
.movie-page-wrapper h2 {
    margin-bottom: 15px;
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 1px;
    word-spacing: 10px;
}
.movie-page img {
    width: 220px;
}
.movie-page-details-info {
    display: flex;
    gap: 0 40px;
    margin-left: auto;
    margin-right: auto;
}